bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/!/.idea/
!/BatchConvertToCHD/bin/
!/BatchConvertToCHD/bin/
!/BatchConvertToCHD/obj/
!/.idea/
!/BatchConvertToCHD/bin/
!/BatchConvertToCHD/obj/
!/BatchConvertToCHD/obj/
